## Data-Platform-Team-Co-op-Case-Study
#### Sherry Feng

In [182]:
import pandas as pd
from io import StringIO

In [183]:
data = 'Airline Code;DelayTimes;FlightCodes;To_From\nAir Canada (!);[21, 40];20015.0;WAterLoo_NEWYork\n<Air France> (12);[];;Montreal_TORONTO\n(Porter Airways. );[60, 22, 87];20035.0;CALgary_Ottawa\n12. Air France;[78, 66];;Ottawa_VANcouvER\n""".\\.Lufthansa.\\.""";[12, 33];20055.0;london_MONTreal\n'

In [184]:
# Read the data into a DataFrame
df = pd.read_csv(StringIO(data), sep=';')

### 1. FlightCodes column: Flight Codes increase by 10 with each row, and should be integers

In [185]:
flight_codes = pd.to_numeric(df['FlightCodes'])
min_code = int(flight_codes.min()) # Flight codes should be Integers, use the min to get the starting point
flight_codes_filled = [min_code + i * 10 for i in range(len(df))] # Int * Int = Int
df['FlightCodes'] = flight_codes_filled

# Check each code is an integer
for code in flight_codes_filled:
    print(type(code))

df

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

         Airline Code    DelayTimes  FlightCodes           To_From
0      Air Canada (!)      [21, 40]        20015  WAterLoo_NEWYork
1   <Air France> (12)            []        20025  Montreal_TORONTO
2  (Porter Airways. )  [60, 22, 87]        20035    CALgary_Ottawa
3      12. Air France      [78, 66]        20045  Ottawa_VANcouvER
4   ".\.Lufthansa.\."      [12, 33]        20055   london_MONTreal

### 2. To_From column: Should be split into two separate columns for better analysis

In [186]:

df[['From', 'To']] = df['To_From'].str.split('_', expand=True)
df['From'] = df['From'].str.capitalize()
df['To'] = df['To'].str.capitalize()
df = df.drop(columns=['To_From'])  # Drop the old column

df

         Airline Code    DelayTimes  FlightCodes      From         To
0      Air Canada (!)      [21, 40]        20015  Waterloo    Newyork
1   <Air France> (12)            []        20025  Montreal    Toronto
2  (Porter Airways. )  [60, 22, 87]        20035   Calgary     Ottawa
3      12. Air France      [78, 66]        20045    Ottawa  Vancouver
4   ".\.Lufthansa.\."      [12, 33]        20055    London   Montreal

### 3. Airline Code column: Airline Codes to have no punctuation except spaces in the middle

In [187]:
# 3. Airline Code column: Airline Codes to have no punctuation except spaces in the middle

def clean_airline_code(code):
    ret = ''.join(char for char in code if char.isalpha() or char.isspace())
    return ret

df['Airline Code'] = df['Airline Code'].apply(clean_airline_code)

### Final DataFrame

In [188]:
df

      Airline Code    DelayTimes  FlightCodes      From         To
0      Air Canada       [21, 40]        20015  Waterloo    Newyork
1      Air France             []        20025  Montreal    Toronto
2  Porter Airways   [60, 22, 87]        20035   Calgary     Ottawa
3       Air France      [78, 66]        20045    Ottawa  Vancouver
4        Lufthansa      [12, 33]        20055    London   Montreal